h2 {
	font-size: 3em;
	margin-bottom: .5em;
}
p, a {
	font-size: 1.25em;
	line-height: 1.4;
	margin-bottom: 1em;
	color: #7c7c7c;
} 
img {
	display: block;
	max-width: 100%;
}
.menuinfo-bg {
    background-color: #9B0000;
    color: white;
}
.menuinfo-bg  p {
    color: white;
}
.menuinfo {
    color: white;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* padding: 10px; */
}
.menuinfo a, .menuinfo p {
    margin: 0 10px 10px 10px 10px;
}
.menuinfo a {
    color: white;
}
.menu-bg{
    background-color: #FF0000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu {
	max-width: 950px;
	margin: 0 0 0 50px;
	padding: 15px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.menu a {
	color: white;
}
.menu-logo a {
	font-size: 2.25em;
	font-weight: bold;
	margin: 0 10px;
}
.menu-nav {
	margin-right: 50px;
}
.menu-nav ul {
	display: flex;
	flex-wrap: wrap;
}
.menu-nav a {
	color: white;
    font-size: 1.25em;
	display: block;
	padding: 10px;
}
.menu-nav a:hover{
	color: #9B0000;
}
.home{
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	border-bottom: 5px solid #9B0000;
}
.home-info {
	flex: 2 1 300px;
	margin: 0 10px;
	display: flex;
}
.home-info p {
	/* max-width: 450px; */
	font-size: 1.25em;
	line-height: 1.4;
	margin-bottom: 1em;
	color: #7c7c7c;
}
.home-imagem {
	flex: 1 1 160px;
	margin: 0 10px;
	height: 250px;
	display: flex;
}
.orcamento {
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.atendimento-container {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
}

.atendimento-item {
    flex: 1 1 175px;
    margin: 10px;
}

.atendimento-item h2 {
    font-size: 3em;
    color: white;
    background: #FF0000; 
    padding: 60px 20px;
}

.atendimento-item a{
    color: white;
}

.atendimento-item a:hover {
    color: #9B0000;
}
.servicos {
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 0;
	display: flex;
	border-bottom: 5px solid #9B0000;

}
.assistencia {
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 0;
	display: flex;

}
.assistencia-info h2{
	font-size: 3em;
	margin-bottom: .5em;
}
.assistencia-info p{
	font-size: 1.25em;
	line-height: 1.4;
	margin-bottom: 1em;
	color: #7c7c7c;
}
.acessorios {
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 0;
	display: flex;
}
.acessorios-info h2{
	font-size: 3em;
	margin-bottom: .5em;
}
.acessorios-info p{
	font-size: 1.25em;
	line-height: 1.4;
	margin-bottom: 1em;
	color: #7c7c7c;
}
.contato {
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 0;
	display: flex;
}
.contato-info h2{
	font-size: 3em;
	margin-bottom: .5em;
}
.contato-info p{
	font-size: 1.25em;
	line-height: 1.4;
	margin-bottom: 1em;
	color: #7c7c7c;
}
.marcas {
	width: 500px;
	background-color: #FF0000;
	border-radius: 10px;
	align-items: center;
	flex-wrap: wrap;
	flex: 1 1 300px;
	display: flex;
	margin: 10px;
}
.marca {
	height: 120px;
	padding: 10px;
	flex: 1 2 300px;
}
.marcas p{
	font-size: 1.25em;
	line-height: 1.4;
	margin-bottom: 1em;
	color: white;
	padding: 10px;
}

.footerinfo-bg {
    background-color: #FF0000;
    color: white;
    display: flex;
}
.footer-bg {
    background-color: #9B0000;
    color: white;
}
